html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

.main-row{
    height:100%;
    margin: 0 !important;
}

#canvasWrapper{
    padding: 0;
}

.lateral-menu{
    text-align: center;
    padding-top: 10px !important;
    background-color: #bababa;
}

.inner-row{
    margin: 0!important;
}

.marker-info-wrapper{
    padding: 8px;
    border: solid 2px;
    border-radius: 15px;
}

.calibrate-div{
    padding: 4px 4px 4px 4px !important;
    background-color: #eaeaea;
    border-radius: 15px;
}

.modal-outside {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-inside {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    max-width: 800px;
    text-align: center;
}

.modal-in-import-export {
    max-width: 400px;
    text-align: left;
}

.close-btn-div{
    height: 100%;
    position: relative;
}

.btn-close{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title{
    margin-bottom: 0px;
}

.div-section{
    padding: 12px;
    border-radius: 10px;
    background-color: #eaeaea;
}

.div-section-wrapper{
    padding:12px;
}

#waypoints-display-wrapper{
    padding: 5px;
    border-radius: .25rem;
    background-color: #fff;
}

.remove-wrapper{
    padding: 0!important;
    color: white;
    background-color: #6C757D !important;
    border-radius: .25rem;
}

.remove-wrapper label{
    margin-bottom: 0px;
    font-size: 18px;
}

.remove-btn{
    padding: 6px 2px 6px 2px !important;
}

.remove-btn-group{
    padding: 0;
    width: 100%;
}

.remove-btn-group>.remove-btn-group:not(:last-child)>.btn, .remove-btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.remove-btn-group>.remove-btn-group:not(:first-child)>.btn, .remove-btn-group>.btn:nth-child(n+3), .remove-btn-group>:not(.btn-check)+.btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.route-table-btn{
    margin: 1px!important;
    padding: 0px!important;
}

#route-table{
    text-align: center;
}

#modal-in-manage{
    max-width: 600px;
}

.edit-route-btn{
    padding: 1px 10px 1px 10px !important;
}

.step-managing-btn{
    padding: 2px 8px 2px 8px !important;
}

.toolbar-tool-div{
    margin: 2px 2px 2px 2px !important;
    padding: 0px !important;
}

.btn-check:checked+.btn{
    border-color: #000 !important;
    border-width: 3px;
}